{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="">
                    <div class="card bg-light mb-3 mt-5" style="width: 800px;">
                        <div class="card-body">
                            <div class="form_group">
                                <p>
                                    Якщо обліковий запис, що відповідає вашій електронній пошті, існує,
                                    то щойно надіслано електронне повідомлення, яке містить посилання,
                                    за допомогою якого можна скинути пароль.
                                    Термін дії цього посилання закінчиться через 1 годину.
                                </p>
                                <p>
                                    Якщо ви не отримали електронне повідомлення, перевірте папку зі спамом або <a href="{{ path('app_forgot_password_request') }}">повторіть спробу</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}