<h1>Привіт!</h1>

<p>Щоб скинути пароль, перейдіть за цим посиланням</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Термін дії цього посилання закінчиться через 1 годину.</p>
