form.submited {
    position: relative;
}

form.submited .form_group {
    filter: blur(3px);
}

form:not(.submited) .spinner{
    display: none;
}

form.submited .spinner {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

form.submited .form_group *{
    cursor: wait;
}

form label + ul{
    list-style: none;
    padding: 0;
}

form label + ul > li{
    margin-top: 1rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar.bg-light {
    background-color: #eaf2fb!important;
}


/* chat_app */
#chat_app .chat_app-chat{
    padding: 0;
    list-style: none;
    overflow: auto;
    max-height: 50vh;
}

#chat_app .message .text{
    background: #eaf2fb;
    padding: 5px 5px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;
}

#chat_app .message .text span{
    max-width: 42vw;
    display: inline-block;
}

#chat_app .message .date{
    display: none;
}

#chat_app .your_message {
    text-align: right;
    width: 100%;
    display: block;
}