{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href="/src/fontawesome/css/all.css" rel="stylesheet">
    <link href="/src/css/bootstrap.4.6.0.min.css" rel="stylesheet">
    <link href="/src/css/style.css" rel="stylesheet">

    <script src="/src/js/jquery-3.6.0.min.js"></script>
    <script src="/src/js/papaparse.min.js"></script>
    <script src="/src/js/CatalogHandler.js"></script>
    <script src="/src/js/scripts.js"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="navbar navbar-expand-lg mb-4 navbar-light bg-light">
    <nav class="container" style="height: 70px;">
        <a class="navbar-brand" href="/">ХХХХХХ</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="nav navbar-nav navbar-right">

            {% if app.user %}
                <li><a class="nav-link" href="{{ path('app_logout') }}">Вихід</a></li>
            {% else %}
                <li><a class="nav-link" href="{{ path('app_login') }}">Логін</a></li>
                <li><a class="nav-link" href="{{ path('app_forgot_password_request') }}">Відновити пароль</a></li>
                <li><a class="nav-link" href="{{ path('registration') }}">Реєстрація</a></li>
            {% endif %}

        </ul>
    </nav>
</div>

{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
</body>
</html>