<div class="list-group mb-3">
    <a href="{{ path('app_users') }}" class="list-group-item list-group-item-action">Користувачі</a>
    <a href="{{ path('app_user_groups') }}" class="list-group-item list-group-item-action">Групи користувачів</a>
    <a href="{{ path('app_catalogs') }}" class="list-group-item list-group-item-action">Каталоги</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
</div>